__pycache__/
*.pyc
backend/database/*.db
backend/database/*.db-wal
backend/database/*.db-shm
backend/database/*.csv
database/*.db
database/*.db-wal
database/*.db-shm
.venv/
venv/
.vercel
.env
uploads/images/*
uploads/videos/*
uploads/files/*
!uploads/images/.gitkeep
!uploads/videos/.gitkeep
!uploads/files/.gitkeep
qr_codes/*
!qr_codes/.gitkeep

.vercel
